@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'El Messiri', sans-serif;
}
a{
    color:rgb(255, 255, 255);
}
a:hover{
    color: chartreuse;
}
.bio .about-me{
    background-color: rgba(255, 255, 255, 0.733);
    outline: auto;
    box-shadow:0 0 3px aquamarine;
}
body{
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.637),rgba(0, 0, 0, 0.644)),  url("../images/mountian.jpg"); */
    background-position: center;
    background-size: cover;
}
canvas{
    display: block;
    position: absolute;
    z-index: -1;
    background-color: black;
}
.Connect{
    background-color: rgba(80, 0, 100, 0.548);
}
#daisy{
    border-radius: 50px;
}
.links a{
    background-color: rgba(127, 255, 212, 0);
}
.link-project h2{
    text-decoration: underline;
    outline:auto;
}
.intro .info .intro-title{
    text-decoration: underline;
    background-color: rgba(231, 19, 19, 0);
    font-size: 40px;
}
.title{
background-color: rgba(12, 109, 20, 0.712);
outline: auto;
text-decoration: underline;
}